.logo {
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 25px;
}

.navText {
    color: white;
}

.navText:hover {
    color: blue;
}

.navbar-toggler {
    background-color: white;
}

.socialIcons {
    display: flex;
    margin-left: 405%;
}

/* Mobile version */
@media only screen and (min-width: 320px) and (max-width: 720px) { 
    .socialIcons {
        display: flex;
        margin-left: 0;
    }

    #facebook {
        padding-right: 5px;
    }    
}